/* BACKROUND */
body {
	background-color: rgb(0, 0, 0);
	color: #ffffff; 
	background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(rgb(0, 0, 0) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #0c0c0c  75px, #0c0c0c   76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #0c0c0c   76px, #0c0c0c   77px, transparent 78px, transparent 109px),
    rgb(0, 0, 0);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;




}

/* get rid of purple link outline */
/* a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
} */

.content {
	height: 200vh;
	background-color: rgba(233, 232, 232, 0.288);
	background-blend-mode: multiply;
	background-size: cover;
	display: grid;
	place-items: center;
}
/* ==========NAVBAR ================*/

@import url('https://fonts.googleapis.com/css?family=Belleza');/* for navbar fonts */
@import url('https://fonts.googleapis.com/css?family=Dokdo');
@import url('https://fonts.googleapis.com/css?family=Gruppo');


.top {
	top: 0;
	background: rgb(0, 0, 0);
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
	text-shadow: 2px 2px 4px #504f4f;
	font-family: 'Belleza';
	font-size: 10px;
	border-radius: 15px;
	/* border-bottom: 5px solid rgb(44, 40, 40); */
	/* box-shadow: 10px 5px 5px grey; */
}



.welcome {
	/* WELCOME, USERNAME */
	position: absolute;
	/* border-style: dashed; */
	z-index: -999;
	margin: 0;
	width: 250px;

	top: 10%;
	left: 240%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.sellContentLink {
	/* border: 3px solid #73AD21; */
	/* margin-right: 50px; */
	position: relative;
    right: 360%;
	
}
.homeLink {
	/* border: 3px solid #73AD21; */
	/* float: left;
	margin-left: 70px; */
	position: absolute;
    right: 345%;
	
}
.logo {
grid-column: 1 / 3;

position: absolute;
color: white;
right: 520%;
font-family: 'Dokdo';
font-size: 40px;
top: -25px;
}

.cartlink{
position: absolute;
left: 30%;

}

.loglink{
position: absolute;
left: 105%;
}






nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0%;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
	border-radius: 25px;
	z-index: 1000
	
}
nav ul {
	list-style: none;
	position: sticky;
}
nav li {
	margin-bottom: 1em;
	margin-left: 1em;
	
}
nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
	float: left;
    margin-left: 20px;
}
nav a:hover {
	color: rgb(241, 239, 239);
}
.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
		left: 0px;
		padding-top: 1.5%;
		z-index: 2;
	}

	nav {
		all: unset;
		grid-column: 3/4;
		display: flex;
		justify-content: flex-end;
		align-items: center;

	}
	nav ul {
		/* border: 3px solid #73AD21; */
		display: flex;
	}
	nav li {
		/* border: 3px solid #73AD21; */
		width: 150px;
		margin-left: 0em;
		margin-bottom: 0;
	}
	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before {
		content: '';
		display: block;
		height: 2.2px;
		background: rgb(255, 253, 253);
		position: absolute;
		bottom: -0.4em;
		/*or the line in the bottom
    bottom: -0.75em;
    not top*/
		left: 0;
		right: 0;
		transform: scale(0, 1);
		/*growing from the left and not from the middle
    transform-origin: left;*/
		transition: transform ease-in-out 650ms;
	}

	nav a:hover::before {
		transform: scale(1, 1);
	}
}

/* END OF NAVBAR */



/* ====LOGIN FORM =====*/
.loginForm {
	margin: auto;
	/* border: 3px solid #73AD21; */

	margin: 0;
	height: 300px;
	position: absolute;
	top: 55%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
/* llllllllllllllllllllllllllll` ``````````````````````````````````````````````````````````````````````````````````*/


/* .loginputname,
.loginputname::-webkit-input-placeholder {
	font-family: 'Gruppo';font-size: 32px;
    line-height: 3;
}*/

input,
input::-webkit-input-placeholder {
	font-family: 'Gruppo';
    line-height: 3;
} 

.loginputname {
	outline: none !important;
	width: 430px;

	padding: 12px 24px;

	background-color: transparent;

	font-family: 'Gruppo';font-size: 32px;

	line-height: 18px;

	color: #ffffff;
	/* background-color: rgb(255, 255, 255); */

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	/* border-radius: 10px;
	border: 1px solid rgb(183, 187, 190); */

	background: transparent;
    border: none;
	border-bottom: 1px solid #ffffff;
	position: relative;
	bottom: 60px;
	

}

.loginputpassword {
	outline: none !important;
	position: absolute;
	bottom: 200px;

	width: 430px;

	padding: 12px 24px;

	font-family: 'Gruppo';font-size: 32px;

	line-height: 1px;

	color: #ffffff;
	background-color: rgb(255, 255, 255);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	/* border-radius: 10px;
	border: 1px solid rgb(183, 187, 190); */

	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.loginbutton {
	outline: none !important;
	position: absolute;
	bottom: 40px;
	height: 70px;

	width: 300px;
	border: 1px solid transparent;
	position: absolute;
	cursor: pointer;
	left: 19%;
	font-size: 20px;

	background-color: #ffffffe3;
	border-radius: 20px;
	box-shadow: 10px 20px 10px -9px rgba(139, 138, 138, 0.25);
}
.signuplog {
	/* LINK IN LOG IN TO SIGN UP IF THEY DONT HAVE ACCOUNT */
	/* border: 3px solid #73AD21; */
	outline: none !important;
	position: absolute;
	bottom: 70px;
	width: 200px;
}
.signuplink{
	outline: none !important;
	color: rgb(201, 201, 201);
	position: absolute;
	bottom: 50px;

}
.dont{
	position: absolute;
	bottom: 55px;
	width: 200px;
	/* left: 20px; */
	color: rgb(201, 201, 201);
}
/* =========================END OF LOG IN=============================== */

.login {
	background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	position: absolute;
	top: 100px;
	left: 580px;
	font-size: 80px;
	font-family: 'Gruppo';
	animation: reveal 2000ms ease-in-out forwards 100ms ;
}
@keyframes reveal {
	80% {
		letter-spacing: 8px;
   }
	100% {
		background-size: 300% 300%;
   }
}
@keyframes glow {
	40% {
		text-shadow: 0 0 8px rgb(255, 255, 255);
   }
}

  

/* ===========================SIGN UP FORM================================= */

.signuplogo {
	background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	position: absolute;
	top: 100px;
	left: 520px;
	font-size: 80px;
	/* font-family: "Source Sans Pro", sans-serif; */
	font-family: 'Gruppo';
	animation: reveal 2000ms ease-in-out forwards 100ms ;
}
@keyframes reveal {
	80% {
		letter-spacing: 8px;
   }
	100% {
		background-size: 300% 300%;
   }
}
@keyframes glow {
	40% {
		text-shadow: 0 0 8px rgb(255, 255, 255);
   }
}


.q{
	position: absolute;
	bottom: -15px;
	left: -55%;
	width: 200px;
}


.signlogin {
	/* LINK TO LOG IN IF EXISTING ACCOUNT */
	position: absolute;
	bottom: 80px;
	left: 26%;
}

.signuplinks{
	outline: none !important;
	color: white;
	position: absolute;
	bottom: -52px;

}

.signup {
	margin: auto;
	/* border: 3px solid #73AD21; */
	width: 900px;
	margin: 0;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.signupfirst {
	outline: none !important;

	position: absolute;
	bottom: 360px;
	left: 25%;

	width: 430px;

	padding: 12px 24px;

	font-family: 'Gruppo';font-size: 32px;
	line-height: 1px;

	color: #ffffff;
	background-color: rgb(255, 255, 255);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	/* border-radius: 10px;
	border: 1px solid rgb(183, 187, 190); */
	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}
.signuplast {
	outline: none !important;
	position: absolute;
	bottom: 275px;
	left: 25%;

	width: 430px;

	padding: 12px 24px;

	font-family: 'Gruppo';font-size: 32px;
	line-height: 1px;

	color: #ffffff;
	background-color: rgb(255, 255, 255);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}
.signupuser {
	outline: none !important;
	position: absolute;
	bottom: 190px;
	left: 25%;

	width: 430px;

	padding: 12px 24px;

	font-family: 'Gruppo';font-size: 32px;
	line-height: 1px;

	color: #ffffff;
	background-color: rgb(250, 253, 255);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}
.signupass {
	outline: none !important;
	position: absolute;
	bottom: 100px;
	left: 25%;

	width: 430px;

	padding: 12px 24px;

	font-family: 'Gruppo';font-size: 32px;
	line-height: 1px;

	color: #ffffff;
	background-color: rgb(255, 255, 255);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}
.signupbtn {
	outline: none !important;
	position: absolute;
	bottom: -55px;
	height: 70px;

	width: 300px;
	border: 1px solid transparent;
	position: absolute;
	cursor: pointer;
	left: 35%;
	font-size: 20px;

	background-color: #ffffffe3;
	border-radius: 20px;
	box-shadow: 10px 20px 10px -9px rgba(139, 138, 138, 0.25);
}

/* ==========================END OF SIGNUP FORM ==============================*/





/*============================= SEARCHBAR ========================================*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');



.search__container {
	padding-top: 0px;
	margin-top: -20px;
	position: absolute;
left: -150%;
}

.search__input {
	width: 230px;

	padding: 12px 24px;

	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 24px;
	line-height: 18px;

	color: #ffffff;
	background-color: transparent;

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 50px;
	border: 1px solid #ffffff;
	transition: all 550ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.search__input::placeholder {
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
	/* capitalizes user input */
	/* text-transform: uppercase; */

	outline: 0;
	border: 1px solid transparent;
	border-bottom: 1px solid #ffffff;
	border-radius: 0;
	background-position: 100% center;
}
/* =================END OF SEARCH FORM================================= */

/* ===============PRODUCT FORM================================== */
.productForm {
	width: 900px;
	height: 500px;
	margin: auto;
	/* border: 3px solid #73ad21; */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.titleProduct{
	outline: none !important;
	position: absolute;
	bottom: 450px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.typeof{
	outline: none !important;
	position: absolute;
	bottom: 350px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.category{
	outline: none !important;
	position: absolute;
	bottom: 250px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.price{
	outline: none !important;
	position: absolute;
	bottom: 150px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.filebtn{
	position: absolute;
	bottom: 100px;
	left: 40%;
}

.filesbm{


	outline: none !important;
	position: absolute;
	bottom: 1px;
	height: 70px;

	width: 200px;
	border: 1px solid transparent;


	left: 35%;
	font-size: 20px;

	background-color: #64738056;
	border-radius: 50px;
	box-shadow: 10px 25px 10px -9px rgba(0, 0, 0, 0.25);
}


/* FOR THE IMAGES IN /PRODUCT */
/* -------------------------------- */
	/* button needs to align below the image */
/* .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
   position: absolute;
margin-top: 150px;
	z-index: 1;

} */

/* .products{
	border: 3px solid #73ad21;
	margin-top: 300px;
	z-index: -1
} */

/* .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
	border: 3px solid #8AC007;

}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border: 3px solid #8AC007;

}
img {
	width: 200px;
	height: 400px;
	object-fit: cover ;
	border: 3px solid #8AC007;

} */


/* -------------------------------- */

/* border:solid white; */
/* FILTER IMAGE BUTTONS */

.grid-containerfilter {
	/* border:solid white; */
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
	grid-column-gap: 10px;
	padding-left: 10%;
	position: absolute;
	bottom: 390px;
	z-index: -999;
  
  }
  #grid-itemfilter {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
  }
  .filter-container {
	display: grid;
	grid-template-columns: auto auto auto;
	position: relative;
	margin-top: 50px;
	width: 400px;
	height: 250px;
	/* margin-left: 10px; */
  }
  
  
  .overlay {
	 
	position: absolute;
	top: 0;
	left: 0;
	width: 310px;
	height: 210px;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
	border-radius: 15px;
  
  }
  
  .containerfilter:hover .overlay {
	display: block;
	background: rgba(0, 0, 0, .3);
  }
  
  .filterimg {
	position: absolute;
	width: 310px;
	height: 210px;
	left: 0;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* filter: blur(1.5px); */
  
  }
  
  
  
  .title {
	position: absolute;
	width: 100px;
	left: 170px;
	top: 70px;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	z-index: 1;
	transition: top .5s ease;
	margin-left: -80px;
	text-shadow: 5px 5px 3px #000000;
  
  }
  .title.city {
	left: 185px;
  }
  
  .filter-container:hover .title {
	top: 50px;
  }
  
  .button {
	position: absolute;
	width: 500px;

	left:0;
	top: 150px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
	margin-left: -100px;
	

  }
  
  .button a {
	width: 200px;
	padding: 12px 48px;
	text-align: center;
	color: white;
	border: solid 2px white;
	z-index: 1;
  }
  .button.city{
	margin-left: -95px;

  }
  
  .filter-container:hover .button {
	opacity: 1;
  }
  /* END OF FILTER IMAGE BUTTONS */


 
  
  


/* mak images fill their container*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.cart-btn{
	/* border: solid white; */
	position: relative;
	top:-8.1em;
	background-color: transparent;
	color:white;
	opacity: 0;
	transition: opacity .35s ease;
	font-family: 'Gruppo';
	font-size: 18px;
	text-shadow: 5px 1px 3px #807c7c;
	box-shadow: 3px 2px 2px #807c7c;
	
  }

  .prprice{
	position: relative;
	top:-3.5em;
	text-shadow: 5px 1px 3px #807c7c;
	font-family: 'Gruppo';font-size: 32px;
	opacity: 0;
	transition: opacity .35s ease;

  }
    
  .grid-item-products:hover .cart-btn{
	opacity: 1;
	/* border: solid rgb(156, 34, 34); */
  }

  .grid-item-products:hover .prprice{
	opacity: 1;
	/* border: solid rgb(156, 34, 34); */
  }

  /* FOR THE IMAGES IN /PRODUCT */
  /* -------------------------------- */
	  /* button needs to align below the image */
	  .grid-container-products {
		display: grid;
		grid-template-columns: auto auto auto auto;
		/* background-color: #2196F3; */
		/* max-width: 100%; */

		
		z-index: -9999;
		grid-column-gap: 50px;

	  }
	
	  .grid-item-products {
		/* border: solid rgb(236, 10, 10); */

		background-color: transparent;
		/* border: 1px solid rgba(240, 39, 39, 0.8); */
		font-size: 30px;
		text-align: center;
	  }
  
  
  /* ---------productsss----------------------- */
  
  
  .image-wrapper {
	  
	transition: all 1s ease; 
  }
  
  .wrapper:hover .image-wrapper {
	  
	filter: blur(1px); /* the actual blurring */
	transform: scale(1.03); /* a way of hiding the blurred edges */ 
  }
  .product-pic{
	  
	/* float: left; */
    width:  300px;
    height: 300px;
    object-fit: cover;  
  }
  .products-container{
	  	/* border:solid white; */

	  position: absolute;
	  top: 29em;
	  left: 4em;
	  overflow: auto;
	  z-index: -999;

  }
  /* ==========View for indivisual product========================= */

 /* .img-wrapper {  
	width: 400px;
	height: 400px;
	overflow: hidden; 
  } */
  
  .inner-img {
	  
	position: relative;
	width:  500px;
    height: 500px;
	object-fit: cover;  
	left: 20em;
	top: -240px;
	transition: 0.3s;
  }
  
  .inner-img:hover {
	  
	transform: scale(1.1);
  }
  
  
  .img-wrapper {
	display: inline-block;
	box-sizing: border-box;

  }
/* ==========View Page Design Text============== */
.imgtitle{
	position: relative;
	/* border:solid white; */
	top: 40px;
	width: 130px;
	left: 1060px;
	font-family: 'Gruppo';font-size: 42px;
	/* border: solid white; */

	
	
	}
	.productuser{
		position: relative;
		top:190px;
		left: 990px;
		width: 300px;
		font-family: 'Gruppo';font-size: 32px;
		width: 430px;
		/* border: solid white; */

	}
	.imgcategories{
		position: relative;
		top: 165px;
		left: 950px;
		font-family: 'Gruppo';font-size: 32px;
		width: 130px;
		/* border: solid white; */

	}

	.imgprice{
		position: relative;
		top: 150px;
		left: 1099px;
		font-family: 'Gruppo';font-size: 32px;
		width: 130px;
		/* border: solid white; */

	}

	.imgquantity{
		position: relative;
		top: 205px;
		left: 1035px;
		width: 200px;
		height:62px;
		/* border: solid white; */

	}
	.textquantity{
		position: relative;
		top: 200px;
		left: 1080px;
		width: 200px;
		height:62px;
		font-family: 'Gruppo';font-size: 32px;
	}
	.addtocartimg{
		position: absolute;
		top: 600px;
		left: 1099px;
		height: 65px;
		width: 100px;
		background-color: transparent;
		font-family: 'Gruppo';font-size: 16px;
		color: white;
		/* border: solid white; */
	}
	
	




/*=============== img cart================== */

.imgcart{
	
	position: relative;
	width:  250px;
    height: 250px;
	object-fit: cover;  
	left: -25em;
	top: -120px;
	/* border:solid white; */
	
}
.cart{
	position: relative;
	height: 600px;
	top: 120px;
		overflow: scroll;
	/* border: solid white; */
}

.imgcartholder{
	/* border:solid white; */
	position: relative;
	width:  400px;
    height: 300px;
	left: 30em;
	margin-top: 70px;
	/* overflow: scroll; */


}
/* ==========================CHECKOUT PAGE================================ */
.checkoutotal{
	/* border:solid white; */
	position: relative;
	width: 150px;
	font-family: 'Gruppo';font-size: 36px;
	top: -70px;

	left: 31em;
}

.whole{
	/* border: solid white; */
	position: relative;
	height: 100vh;
}
.checkoutbtn{
	border:solid white;
	font-family: 'Gruppo';font-size: 26px;
	position: relative;
	top: 352px;
	border-radius: 10px;
	left: 5em;

}
.toconfirm{
	text-decoration: none;
	color: black;
}


.billing{
	position: relative;
    /* border: solid white; */
	width: 400px;
	height: 500px;
	top: -500px;
	left: 60em;

}
/* ? */
.billadress{
	outline: none !important;
	position: absolute;
	bottom: 430px;
	left: 10%;

	width: 230px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #ffffff;
	/* background-color: rgb(250, 253, 255); */

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	/* border-radius: 10px;
	border: 1px solid rgb(183, 187, 190); */

	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;

}

.billstate{
	outline: none !important;
	position: absolute;
	bottom: 370px;
	left: 10%;

	width: 230px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #ffffff;
	/* background-color: rgb(250, 253, 255); */

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	/* border-radius: 10px;
	border: 1px solid rgb(183, 187, 190); */
	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;

}
.billcity{
	outline: none !important;
	position: absolute;
	bottom: 310px;
	left: 10%;

	width: 230px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #ffffff;
	/* background-color: rgb(250, 253, 255); */

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	/* border-radius: 10px;
	border: 1px solid rgb(183, 187, 190); */
	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.billzip{
	outline: none !important;
	position: absolute;
	bottom: 250px;
	left: 10%;

	width: 230px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #ffffff;
	/* background-color: rgb(250, 253, 255); */

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	/* border-radius: 10px;
	border: 1px solid rgb(183, 187, 190); */
	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;

}

.billcard{
	outline: none !important;
	position: absolute;
	bottom: 190px;
	left: 10%;

	width: 230px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #ffffff;
	/* background-color: rgb(250, 253, 255); */

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	/* border-radius: 10px;
	border: 1px solid rgb(183, 187, 190); */
	background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;

}


.checkouttitle{
	/* border:solid white; */
	position: relative;
	width: 150px;
	font-family: 'Gruppo';font-size: 26px;
	left: -3.0em;
	top: 32px;
	/* border:solid white */

}

.checkoutprice{
	/* border:solid rgb(87, 10, 10); */
	width: 150px;
	font-family: 'Gruppo';font-size: 26px;
	position: relative;
	left: -2.5em;
	top: 32px;

}

.checkoutquantity{
	/* border:solid white; */
	width: 150px;
	font-family: 'Gruppo';font-size: 26px;
	position: relative;
	left: 9em;
	top: -252px;


}







/* ===============Quantity=========================== */

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.qty-box {
	border: 1px solid #ffffff;
	/* border-radius: 3px; */
	display: block;
	height: 60px;
	/* border: solid rgb(0, 17, 255); */
	position: relative;
	/* margin: calc(50vh - 30px) auto 0 auto; */
	width: 218px;
}
.span {
	/* border: solid rgb(0, 255, 170); */
	color: #ffffff;
	font-family: sans-serif;
	float: left;
	line-height: 60px;
	text-align: center;
	width: calc(200px/3);
	-webkit-font-smoothing: antialiased;
}
.dec, .inc {
	height: 100%;

}
.dec:hover, .inc:hover {
	cursor: pointer;
}
/* =================	QUANTITY TWO======================================= */
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.qty-box2 {
	border: 1px solid #ffffff;
	/* border-radius: 3px; */
	display: block;
	height: 40px;
	/* margin: calc(50vh - 30px) auto 0 auto; */
	position: relative;
	left: -8em;
	top: -212px;
	width: 202px;
}
.span2 {
	
	color: #ffffff;
	font-family: sans-serif;
	float: left;
	line-height: 40px;
	text-align: center;
	width: calc(200px/3);
	-webkit-font-smoothing: antialiased;
}
.dec2, .inc2 {
	/* border: solid white; */
	height: 70%;
}
.dec2:hover, .inc2:hover {
	cursor: pointer;
}
/* ==========================CHECKOUT PAGE================================ */
.checkoutotal{}

.checkoutbtn{}

.cartimg{
	/* border:solid white; */
	position: relative;
	height: 330px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	bottom: 450px;
}
.empty{
	/* border:solid white; */
	position: relative;
	width: 370px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	bottom: 450px;
	left: 4%;
	font-family: 'Gruppo';font-size: 52px;

}

/*=============== confirmation page ================== */

.confirmation{
    position: absolute;
    width: 1000px;
    top: 180px;
    left:480px;
    font-family: 'Gruppo';font-size: 26px;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation: fadeInUp 2s ease-in-out 0s forwards;
    z-index: -999;

} 
.truck{
    position: absolute;
    width:  25%;
    height: auto;
    margin-top: 34em;
    margin-left: 48em;

    position: fixed; 
    overflow-y: hidden;
    /* top: 0; right: 0; bottom: 0; left: 0;  */
    animation: truck 13.5s linear  infinite ;
    z-index: 1;
  }
  @keyframes truck {
    0% {
        left: -768px;
      }
      100% {
        left: 868px;
    }
    
}




/* enterrr */
.enter{
    position: absolute;
    z-index: 1;
    margin-top:30px ;
    margin-left:-70em ;
    border:solid black

}
/* *
{ */
    /* position: relative; */
  /* margin: 0;
  padding: 0; */
  /* -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; */


/* } */

.black{
    position: absolute;
    border: solid black;
    margin-top:-44.5em ;
    margin-left:-95em ;
    width: 300%;
    height: 200%;

    z-index: -1;
}

.picture
{
  display: block;
  width: 100%;
  height: 130%;
  margin-top: -10em;
  
}

#slider
{
    top: 50px;
    width: 100%;
    height: auto;
    z-index: 9999;
    overflow-x: hidden; 


    
}

#slider:before,
#slider:after
{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 30px;
    z-index: -1;
    box-shadow: 0 0 15px 1px #000;
    border-radius: 100px / 10px;

}

#slider:after
{
    right: 30px;
    left: auto;
    -webkit-transform: skew(8deg) rotate(3deg);
    -ms-transform: skew(8deg) rotate(3deg);
    -transform: skew(8deg) rotate(3deg)
}

#slider input{display: none}

#slider .slider-container
{
    position:relative;
    top: 0;
    left: 0;
    width: 108%;
    height: 100vh;
    overflow: hidden  
}

#slider #slides
{
    position: absolute;
    width: 300%;
    height: auto;
    top: 50px;
    margin-left:-10px;
    overflow: visible;
    -webkit-animation: slider 16s infinite;
    animation: slider 16s infinite;
    border:solid black

}

/* #slider #slides:hover
{
    -webkit-animation-play-state: paused;
    animation-play-state: paused
} */

#slider #slides .slide
{
    position: relative;
    width: 33.33333333%;
    height: 100%;
    float: left;
}

#slider #slides .slide .caption
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(12, 13, 14, 0.795);
  color: #fff;
  padding: 40px 4%
}

#slider #slides .slide .caption p
{
  font-size: 120%; 
  line-height: 150%;
  position: relative;
  max-width: 20%;
  max-height: auto;
  
}

#slider #slides .slide .caption p:before,
#slider #slides .slide .caption p:after
{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  border-color: rgb(202, 196, 195);
  border-style: solid
}

#slider #slides .slide .caption p:before
{
  border-width: 2px 0 0 2px;
  top: -5%;
  left: -5%
}

#slider #slides .slide .caption p:after
{
  border-width: 0 2px 2px 0;
  bottom: -5%;
  right: -5%
}

/*  */

/* #slider #slides:hover ~ .timeline
{
    -webkit-animation-play-state: paused;
    animation-play-state: paused
} */

/*--- Start Slider animation ---*/
@-webkit-keyframes slider
{
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
}

@keyframes slider
{
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
}

@-webkit-keyframes timeline
{
    0%, 30%, 60%, 100%{width: 0}
    
    25%, 55%, 85%{width: 100%}
}

@keyframes timeline
{
    0%, 30%, 60%, 100%{width: 0}
    
    25%, 55%, 85%{width: 100%}
}

@media screen and (max-width: 480px) 
{
  #slider #slides .slide .caption
  {
    width: 100%;
    height: auto;
    top: auto;
    bottom: 0;
    padding: 20px 8%
  }
  
  #slider #slides .slide .caption p{font-size: 100%}
}
.about{
    position: absolute;
    z-index: 1;
    margin-top: -55em;
    max-width: 110vh;
    height: 100vh;
    margin-left:35em;
    color:black;
    overflow-x: hidden; 


}
@import url('https://fonts.googleapis.com/css?family=Parisienne|Playball');

.about {
 background:url('https://www.subtlepatterns.com/patterns/brickwall.png');
  background-size:10%;
  margin-top: -40em;
}

.frame {
  margin:250px auto;
  margin-left: 5em;
  border:25px solid #222;
  height:475px;
  width:350px;
  -webkit-box-shadow:  px 2px 3px 1px rgba(0, 0, 0, .5);
  box-shadow:  0px 3px 10px 4px rgba(0, 0, 0, .3);
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}


.border {
  background:white;
  height:100%;
  width:100%;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .4);
  box-shadow: inset 1px 5px 2px 5px rgba(0, 0, 0, .4);
}

.image-front {
  position:absolute;
  height:350px;
  width:250px;
  margin-left:48px;
  margin-top:50px;
  -webkit-box-shadow: inset 10px 10px 10px 4px rgba(0, 0, 0, .6);
  box-shadow: inset 3px 7px 2px 5px rgba(0, 0, 0, .1);
  border:2px inset #c9c9c9;
}

.text {
  position:absolute;
  margin-top:420px;
  font-family: 'Playball', cursive;
  font-size:30px;
  margin-left:65px;
}
/* tableee */
.plant{
    position: absolute;
    /* transform: scaleX(-1); */
    margin-top: -30em;
    margin-left:-3em;

    float: center;
  width:  600px;
  height: auto;
  object-fit: cover;
  z-index: 1;
}
.pin{
    position: absolute;
    /* transform: scaleX(-1); */
    margin-top: -1em;
    margin-left:16.5em;

    float: center;
  width:  50px;
  height: auto;
  object-fit: cover;
  z-index: 1;

}
#two {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    margin-left: 20em;
  }
  
  .box {
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  .box::before {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
  }
  .box::after {
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    content: '';
    height: 10px;
    position: absolute;
  }
  
  .start {
    float: left;
  }
  
  .ul {
    float: right;
    margin: 0;
    padding: 0;
    -webkit-animation: scrollUp 4s ease-in-out infinite normal;
            animation: scrollUp 4s ease-in-out infinite normal;
  }
  .ul > * {
    opacity: 1;
    height: 20px;
    padding: 10px;
    list-style: none;
  }
  
  @-webkit-keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }
  
  @keyframes scrollUp {
    from {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
    }
  }