/* BACKROUND */
body {
	background-color: rgb(0, 0, 0);
	color: #ffffff; 
}

/* get rid of purple link outline */
/* a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
} */

.content {
	height: 200vh;
	background-color: rgba(233, 232, 232, 0.288);
	background-blend-mode: multiply;
	background-size: cover;
	display: grid;
	place-items: center;
}
/* ==========NAVBAR ================*/

@import url('https://fonts.googleapis.com/css?family=Belleza');/* for navbar fonts */
@import url('https://fonts.googleapis.com/css?family=Dokdo');
@import url('https://fonts.googleapis.com/css?family=Gruppo');


.top {
	top: 0;
	background: rgb(0, 0, 0);
	text-align: center;
	position: fixed;
	z-index: 999;
	width: 100%;
	text-shadow: 2px 2px 4px #504f4f;
	font-family: 'Belleza';
	font-size: 10px;
	border-radius: 15px;
	/* border-bottom: 5px solid rgb(44, 40, 40); */
	/* box-shadow: 10px 5px 5px grey; */
}



.welcome {
	/* WELCOME, USERNAME */
	position: absolute;
	/* border-style: dashed; */
	z-index: -999;
	margin: 0;
	width: 250px;

	top: 10%;
	left: 240%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.sellContentLink {
	/* border: 3px solid #73AD21; */
	/* margin-right: 50px; */
	position: relative;
    right: 360%;
	
}
.homeLink {
	/* border: 3px solid #73AD21; */
	/* float: left;
	margin-left: 70px; */
	position: absolute;
    right: 345%;
	
}
.logo {
grid-column: 1 / 3;

position: absolute;
color: white;
right: 520%;
font-family: 'Dokdo';
font-size: 40px;
top: -25px;
}

.cartlink{
position: absolute;
left: 30%;

}

.loglink{
position: absolute;
left: 105%;
}






nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0%;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
	border-radius: 25px;
	z-index: 1000
	
}
nav ul {
	list-style: none;
	position: sticky;
}
nav li {
	margin-bottom: 1em;
	margin-left: 1em;
	
}
nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
	float: left;
    margin-left: 20px;
}
nav a:hover {
	color: rgb(241, 239, 239);
}
.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
		left: 0px;
		padding-top: 1.5%;
		z-index: 2;
	}

	nav {
		all: unset;
		grid-column: 3/4;
		display: flex;
		justify-content: flex-end;
		align-items: center;

	}
	nav ul {
		/* border: 3px solid #73AD21; */
		display: flex;
	}
	nav li {
		/* border: 3px solid #73AD21; */
		width: 150px;
		margin-left: 0em;
		margin-bottom: 0;
	}
	nav a {
		opacity: 1;
		position: relative;
	}

	nav a::before {
		content: '';
		display: block;
		height: 2.2px;
		background: rgb(255, 253, 253);
		position: absolute;
		bottom: -0.4em;
		/*or the line in the bottom
    bottom: -0.75em;
    not top*/
		left: 0;
		right: 0;
		transform: scale(0, 1);
		/*growing from the left and not from the middle
    transform-origin: left;*/
		transition: transform ease-in-out 650ms;
	}

	nav a:hover::before {
		transform: scale(1, 1);
	}
}

/* END OF NAVBAR */



/* ====LOGIN FORM =====*/
.loginForm {
	margin: auto;
	/* border: 3px solid #73AD21; */

	margin: 0;
	height: 300px;
	position: absolute;
	top: 55%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.loginputname {
	outline: none !important;
	width: 430px;

	padding: 12px 24px;

	background-color: transparent;

	font-size: 14px;

	line-height: 18px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.loginputpassword {
	outline: none !important;
	position: absolute;
	bottom: 170px;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.loginbutton {
	outline: none !important;
	position: absolute;
	bottom: 10px;
	height: 70px;

	width: 300px;
	border: 1px solid transparent;
	position: absolute;

	left: 19%;
	font-size: 20px;

	background-color: #64738056;
	border-radius: 50px;
	box-shadow: 10px 25px 10px -9px rgba(0, 0, 0, 0.25);
}
.signuplog {
	/* LINK IN LOG IN TO SIGN UP IF THEY DONT HAVE ACCOUNT */
	/* border: 3px solid #73AD21; */
	outline: none !important;
	position: absolute;
	bottom: 90px;
}
/* =========================END OF LOG IN=============================== */



/* ===========================SIGN UP FORM================================= */


.signlogin {
	/* LINK TO LOG IN IF EXISTING ACCOUNT */
	position: absolute;
	bottom: 90px;
	position: absolute;

	left: 23%;
}

.signup {
	margin: auto;
	/* border: 3px solid #73AD21; */
	width: 900px;
	margin: 0;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.signupfirst {
	outline: none !important;

	position: absolute;
	bottom: 350px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}
.signuplast {
	outline: none !important;
	position: absolute;
	bottom: 290px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}
.signupuser {
	outline: none !important;
	position: absolute;
	bottom: 220px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}
.signupass {
	outline: none !important;
	position: absolute;
	bottom: 150px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}
.signupbtn {
	outline: none !important;
	position: absolute;
	bottom: 10px;
	height: 70px;

	width: 300px;
	border: 1px solid transparent;
	position: absolute;

	left: 30%;
	font-size: 20px;

	background-color: #64738056;
	border-radius: 50px;
	box-shadow: 10px 25px 10px -9px rgba(0, 0, 0, 0.25);
}

/* ==========================END OF SIGNUP FORM ==============================*/





/*============================= SEARCHBAR ========================================*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');



.search__container {
	padding-top: 0px;
	margin-top: -15px;
	position: absolute;
left: -150%;
}

.search__input {
	width: 230px;

	padding: 12px 24px;

	background-color: transparent;
	transition: transform 250ms ease-in-out;
	font-size: 14px;
	line-height: 18px;

	color: #ffffff;
	background-color: transparent;

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 50px;
	border: 1px solid #ffffff;
	transition: all 550ms ease-in-out;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.search__input::placeholder {
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
	/* capitalizes user input */
	/* text-transform: uppercase; */

	outline: 0;
	border: 1px solid transparent;
	border-bottom: 1.5px solid #ffffff;
	border-radius: 0;
	background-position: 100% center;
}
/* =================END OF SEARCH FORM================================= */

/* ===============PRODUCT FORM================================== */
.productForm {
	width: 900px;
	height: 500px;
	margin: auto;
	/* border: 3px solid #73ad21; */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.titleProduct{
	outline: none !important;
	position: absolute;
	bottom: 450px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.typeof{
	outline: none !important;
	position: absolute;
	bottom: 350px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.category{
	outline: none !important;
	position: absolute;
	bottom: 250px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.price{
	outline: none !important;
	position: absolute;
	bottom: 150px;
	left: 21%;

	width: 430px;

	padding: 12px 24px;

	font-size: 14px;
	line-height: 1px;

	color: #8d8787;
	background-color: rgb(183, 187, 190);

	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 95% center;
	border-radius: 10px;
	border: 1px solid rgb(183, 187, 190);
}

.filebtn{
	position: absolute;
	bottom: 100px;
	left: 40%;
}

.filesbm{


	outline: none !important;
	position: absolute;
	bottom: 1px;
	height: 70px;

	width: 200px;
	border: 1px solid transparent;


	left: 35%;
	font-size: 20px;

	background-color: #64738056;
	border-radius: 50px;
	box-shadow: 10px 25px 10px -9px rgba(0, 0, 0, 0.25);
}


/* FOR THE IMAGES IN /PRODUCT */
/* -------------------------------- */
	/* button needs to align below the image */
/* .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
   position: absolute;
margin-top: 150px;
	z-index: 1;

} */

/* .products{
	border: 3px solid #73ad21;
	margin-top: 300px;
	z-index: -1
} */

/* .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
	border: 3px solid #8AC007;

}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border: 3px solid #8AC007;

}
img {
	width: 200px;
	height: 400px;
	object-fit: cover ;
	border: 3px solid #8AC007;

} */


/* -------------------------------- */


/* FILTER IMAGE BUTTONS */

.grid-containerfilter {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
	grid-column-gap: 10px;
	padding-left: 10%;
	position: absolute;
	bottom: 300px;
	z-index: -999;
  
  }
  #grid-itemfilter {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
  }
  .filter-container {
	display: grid;
	grid-template-columns: auto auto auto;
	position: relative;
	margin-top: 50px;
	width: 400px;
	height: 250px;
	/* margin-left: 10px; */
  }
  
  
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 310px;
	height: 210px;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
	border-radius: 15px;
  
  }
  
  .containerfilter:hover .overlay {
	display: block;
	background: rgba(0, 0, 0, .3);
  }
  
  .filterimg {
	position: absolute;
	width: 310px;
	height: 210px;
	left: 0;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* filter: blur(1.5px); */
  
  }
  
  
  
  .title {
	position: absolute;
	width: 100px;
	left: 170px;
	top: 70px;
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	z-index: 1;
	transition: top .5s ease;
	margin-left: -80px;
	text-shadow: 5px 5px 3px #000000;
  
  }
  .title.city {
	left: 185px;
  }
  
  .filter-container:hover .title {
	top: 50px;
  }
  
  .button {
	position: absolute;
	width: 500px;

	left:0;
	top: 150px;
	text-align: center;
	opacity: 0;
	transition: opacity .35s ease;
	margin-left: -100px;
	

  }
  
  .button a {
	width: 200px;
	padding: 12px 48px;
	text-align: center;
	color: white;
	border: solid 2px white;
	z-index: 1;
  }
  .button.city{
	margin-left: -95px;

  }
  
  .filter-container:hover .button {
	opacity: 1;
  }
  /* END OF FILTER IMAGE BUTTONS */


 
  
  


/* mak images fill their container*/


.cart-btn{
	position: relative;
	top:-10em;
	background-color: transparent;
	color:white
	
  }
  
  /* FOR THE IMAGES IN /PRODUCT */
  /* -------------------------------- */
	  /* button needs to align below the image */
	  .grid-container-products {
		display: grid;
		grid-template-columns: auto auto auto auto;
		/* background-color: #2196F3; */
		/* max-width: 100%; */

		
		z-index: -9999;
		grid-column-gap: 50px;

	  }
	
	  .grid-item-products {
		background-color: transparent;
		border: 1px solid rgba(0, 0, 0, 0.8);
		font-size: 30px;
		text-align: center;
	  }
  
  
  /* ---------productsss----------------------- */
  
  
  .image-wrapper {
	transition: all 1s ease; 
  }
  
  .wrapper:hover .image-wrapper {
	filter: blur(1px); /* the actual blurring */
	transform: scale(1.03); /* a way of hiding the blurred edges */ 
  }
  .product-pic{
	/* float: left; */
    width:  300px;
    height: 300px;
    object-fit: cover;  
  }
  .products-container{
	  position: absolute;
	  top: 35em;
	  left: 4em;
	  overflow: auto;
	  z-index: -999;

  }
  /* ==========View for indivisual product========================= */

 /* .img-wrapper {  
	width: 400px;
	height: 400px;
	overflow: hidden; 
  } */
  
  .inner-img {
	position: relative;
	width:  500px;
    height: 500px;
	object-fit: cover;  
	left: 20em;
	top: -100px;
	transition: 0.3s;
  }
  
  .inner-img:hover {
	transform: scale(1.1);
  }
  
  
  .img-wrapper {
	display: inline-block;
	box-sizing: border-box;

  }
/* ==========View Page Design Text============== */
.imgtitle{
	position: relative;
	/* border:solid white; */
	top: 60px;
	width: 130px;
	left: 1070px;
	font-family: 'Gruppo';font-size: 32px;
	
	
	}
	.productuser{
		position: relative;
		top:170px;
		left: 1010px;
		width: 300px;
		font-family: 'Gruppo';font-size: 22px;
		/* border:solid white; */
	}
	.imgcategories{
		position: relative;
		top: 165px;
		left: 950px;
		font-family: 'Gruppo';font-size: 22px;
	}

	.imgprice{
		position: relative;
		top: 250px;
		left: 1099px;
		font-family: 'Gruppo';font-size: 22px;
	}

	
	




/*=============== img cart================== */

.imgcart{
	
	position: relative;
	width:  100px;
    height: 100px;
	object-fit: cover;  
	left: 3em;
	/* border:solid white; */
	
}

.imgcartholder{
	border:solid white;
	position: relative;
	width:  700px;
    height: 300px;
	left: 30em;
	margin-top: 70px;

}



/* ===============Quantity=========================== */

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.qty-box {
	border: 1px solid #94c4ec;
	border-radius: 3px;
	display: block;
	height: 60px;
	margin: calc(50vh - 30px) auto 0 auto;
	width: 200px;
}
span {
	color: #62a8e2;
	font-family: sans-serif;
	float: left;
	line-height: 60px;
	text-align: center;
	width: calc(200px/3);
	-webkit-font-smoothing: antialiased;
}
.dec, .inc {
	height: 100%;
}
.dec:hover, .inc:hover {
	cursor: pointer;
}
